  h1{
    text-align: left;
    padding: 10px;
    font-family: raleway;
    margin-left: 10px;
    margin-top: 0px;
    color: #ffffff;
  }

  .nav-bar {
    background: #99e6e6;
    height: 60px;
  }

  h2{
    margin: 20px;
    text-align: center;
    color: #2db9b9;
    padding-top: 30px;
    font-family: raleway;
  }

  p{
    margin: 20px;
  }

  body {
      font-family: tahoma;
      color:#282828;
      margin: 0px;
    }

/* Background Image */

  .background-image {
    position: relative;
    width: 100%;
  }

  .background-image img {
    width: 100%;
    height: auto;
  }

  .background-image .btn{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #2db9b9;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: raleway;
  }

  #btn {
    text-decoration: none;
    color: white;
  }

  .background-image .btn:hover #btn {
    background-color: white;
    color: #2db9b9;
  }

  .background-image .btn:hover {
    background-color: white;
    color: #2db9b9;
  }

/* About Us Section */

  .about {
    background-color: #ffffff;
  }

  .about #aboutusdesc {
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }

  .buttoncontainer {
    width: 500px;
    background-color: #ffffff;
    margin: auto;
    text-align: center;
  }

  .about .btn {
    background-color: #2db9b9;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: raleway;
    display:inline-block;
    margin: 10px;
  }

  .about .btn:hover {
    background-color: white;
    color: #2db9b9;
  }

  .about .btn:hover #btn {
    background-color: white;
    color: #2db9b9;
  }

  .container {
    width: 600px;
    background-color: #ffffff;
    margin: auto;
  }
  .first {
    width: 260px;
    float: left;
    height: 230px;
    background-color: #ffffff;
  }
  .second {
    width: 260px;
    float: right;
    height: 230px;
    background-color: #ffffff;
  }

  #text {
    text-align: center;
  }

  .register {
    padding-top: 210px;
    text-align: center;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
  }

  .icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
  }

/* Forms */

  .review-form {
    width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    color: #248f8f;
  }

  input[type=submit] {
    background: #2db9b9;
    color: white;
    width: 80px;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 0px;
  }


  input {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    border: 1px solid #248f8f;
  }

  table, th, td {
    border: 1px solid #2db9b9;
    border-collapse: collapse;
    margin: auto;
    color: #248f8f;
  }
